<div>
  <mat-toolbar>
    
    <div *ngIf="auth.isLogged()">
        <a mat-button [routerLink]="['/']">Accueil</a>
        <a mat-button *ngIf="auth.isCustomer()" [routerLink]="['/ordering']">Passer commande</a>
        <a mat-button *ngIf="auth.isRestaurant()" [routerLink]="['/restaurant']">Espace restaurant</a>
        <a mat-button *ngIf="auth.isDeliver()" [routerLink]="['/deliver']">Espace livreur</a>
        <a mat-button *ngIf="auth.isAdmin()" [routerLink]="['/admin']">Administration E-Kaly</a>
    </div>

    <div *ngIf="!auth.isLogged()">
        <a mat-button [routerLink]="['/signin']">Se connecter</a>
        <a mat-button [routerLink]="['/signup']">S'inscrire</a>
    </div>
    
    <div *ngIf="auth.isLogged()">
        <button mat-button [routerLink]="['/signin']" (click)="auth.logout()">Se déconnecter</button>
    </div>
    
  </mat-toolbar>
  <div id="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
