<div class="dish-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Se connecter
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="nom..." formControlName="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="mot de passe..." formControlName="password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='primary'>Valider</button>
        <a mat-raised-button [routerLink]="['/signup']">S'inscrire</a>
      </mat-card-actions>
    </mat-card>


  </form>
</div>
