.main-sidenav {
    width: 20%;
    padding: 7px;
}

.main-sidenav .dishes {
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: 1px dashed black;
    padding: 3px;
}


button {
   margin: 7px 0;
}

.mat-drawer-container {
    height: 100%;
}

.main-content {
    padding: 17px;
}

.main-content .dishes {
    border: 1px dashed black;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}