<div class="dish-form">
  <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        <h2 *ngIf="isUpdate">Modification plat</h2>
        <h2 *ngIf="!isUpdate">Nouveau plat</h2>
      </mat-card-title>
      <mat-card-content>
        <a mat-raised-button [routerLink]="['/restaurant']">Retour</a>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="nom..." formControlName="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Prix</mat-label>
            <input matInput type="number" placeholder="prix..." formControlName="price">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='primary'>Valider</button>
        <button mat-raised-button>Annuler</button>
      </mat-card-actions>
    </mat-card>

  </form>

</div>
